- @ranking.each do |entry|
  .ranking-entry
    .stats
      %strong
        = "ç¬¬%dä½" % entry[:rank]
      %span
        = "%d Points" % entry[:rate]
    = render :partial => "photos/basic", :as => :photo, :object => entry[:photo], :locals => { :show_name => true }
