header {
  .navbar-inner {
    min-height: 0;
    padding: 10px 0;
  }

  .container-fluid {
    text-align: center;

    .question {
      color: #fff;
    }
  }
}

#main {
  text-align: center;
}

.link-to-vote {
  display: block;
  width: 280px;
  margin: 0 auto 20px;
}

.photo-basic {
  width: 280px;
  position: relative;

  .text {
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
