header {
  .navbar-inner {
    min-height: 0;
    padding: 10px 0;
  }

  .container-fluid {
    text-align: center;

    .question {
      color: #fff;
    }
  }
}

footer {
  text-align: center;
  margin: 50px 0 20px;
}

#main {
  text-align: center;
}

#judge-result {
  padding-bottom: 40px;
  border-bottom: 1px dotted #999;

  p {
    margin-top: 10px;
  }
}

.link-to-vote {
  display: block;
  width: 280px;
  margin: 0 auto 20px;
  position: relative;

  .btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.photo-basic {
  width: 280px;
  margin: 0 auto;
  position: relative;

  .name {
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
